**1-Write a Python program to calculate the length of a string using 2 ways

In [ ]:
str = input("enter a string ")
print(len(str))

In [ ]:
string = input("enter a string ")
length = 0
for letter in string:
    length += 1

print(length)

**2-Write a Python program to get a string made of the first 2 and last 2 characters of a given string. If the string length is less than 2, return the empty string instead ("##Sample String : 'w3resource'
Expected Result : 'w3ce'
##Sample String : 'w3'
Expected Result : 'w3w3'
##Sample String : ' w'
Expected Result : Empty String)

In [3]:
str = input ("enter string")
if len(str)>1:
    print(str[:2]+str[-2:])
else:
    print("empty string")

enter string am

amam

**3-Write a Python program to add 'ing' at the end of a given string (length should be at least 3). If the given string already ends with 'ing', add 'ly' instead. If the string length of the given string is less than 3, leave it unchanged. (Sample String : 'abc'
Expected Result : 'abcing')

In [3]:
string = input("enter a string ")
if len(string) < 3:
    result = string
elif string[-3:] == 'ing':
    result = string + 'ly'
else:
    result = string + 'ing'
print (result)

enter a string  ammla

ammlaing

**4-Write a Python function that takes a list of words and return the longest word and the length of the longest one
(Longest word: Exercises
Length of the longest word: 9)

In [1]:
list=["amr","ahmed","negm"]
max =0
maxStr=""
for i in list:
    if len(i)>max:
        max=len(i)
        maxStr=i
print("Longest word: " , maxStr , " Length of the longest word: " , max)

Longest word:  ahmed  Length of the longest word:  5

**5-Write a Python program to change a given string to a newly string where the first and last chars have been exchanged using 2 ways (Sample String:abca  Expected Result:ebce)

In [1]:
str = "abca Expected Result:ebce"
first_char = str[0]
last_char = str[-1]
middle_chars = str[1:-1]
new_str = last_char + middle_chars + first_char
print(new_str)

ebca Expected Result:ebca

**6-Write a Python program to remove characters that have odd index values in a given string (Sample String:abca Expected Result:ac)

In [ ]:
string="abca Expected Result:ac"
i=0
newStr=""
while i < len(string):
    if i%2==0:
        newStr+=string[i]
    i+=1    
print(newStr)

**7-Write a Python program to count the occurrences of each word in a given sentence (Sample String:amr and ahmed are frindes but amr is the tallest Expected Result:2)

In [2]:
sentence="amr and ahmed are frindes but amr is the tallest"
list=sentence.split()
key="amr"
count=0
for i in list:
    if i == key:
        count+=1
print(count)

2

**8-Write a Python script that takes input from the user and displays that input back in upper and lower cases

In [ ]:
user_input = input("Enter a sentence: ")
print("Upper case:", user_input.upper())
print("Lower case:", user_input.lower())

**9-Write a Python function to reverse a string if its length is a multiple of 4

In [4]:
str=input()
if len(str)%4==0:
    str=str[::-1]
print(str)

 amr

amr

**10- Write a Python program to remove a newline in Python

**11-Write a Python program to check whether a string starts with specified characters

In [5]:
str="Amr Ahmed Negm"
key='A'
if str[0]==key:
    print("True")
else:
    print("False")

True

**12- Write a Python program to add prefix text to all of the lines in a string

**13-Write a Python program to print the following numbers up to 2 decimal places

num=12.212
print("{:.2f}".format(num))

**14-Write a Python program to print the following numbers up to 2 decimal places with a sign

In [ ]:
num=12.212
print("{:.2f}".format(num),"$")

**15-Write a Python program to display a number with a comma separator

**16-Write a Python program to reverse a string using 2 ways

In [ ]:
str=input()
newStr=str[::-1]

reversed_string = ""
for char in input_string:
    reversed_string = char + reversed_string

 **17-Write a Python program to count repeated characters in a string (hint:use dictionary)

In [ ]:
def count_repeated_characters(input_string):
    char_count = {}
    for char in input_string:
        if char in char_count:
            char_count[char] += 1
        else:
            char_count[char] = 1
    return char_count

**18-Write a Python program to find the first non-repeating character in a given string

In [ ]:
def first_non_repeating_character(input_string):
    char_count = {}
    
    # Count the occurrences of each character
    for char in input_string:
        if char in char_count:
            char_count[char] += 1
        else:
            char_count[char] = 1
    
    # Find the first non-repeating character
    for char in input_string:
        if char_count[char] == 1:
            return char
    
    return None  # Return None if no non-repeating character is found

**19-Write a Python program to remove spaces from a given string

In [6]:
def remove_spaces(input_string):
    return input_string.replace(" ", "")
user_input = input("Enter a string with spaces: ")
result = remove_spaces(user_input)
print("String with spaces removed:", result)

Enter a string with spaces:  amr ahmed negm

String with spaces removed: amrahmednegm

**20-Write a Python program to count the number of non-empty substrings of a given string

In [9]:
string=input()
total_substrings = 1
for i in string:
    if i ==" ":
        total_substrings+=1
print(total_substrings)

 amr ahmed negm

2

**21-write a Python program to swap first and last element of any list.

In [ ]:
list=[1,2,3,4,5]
temp=list[0]
list[0]=list[-1]
list[-1]=temp

**22-Given a list in Python and provided the positions of the elements, write a program to swap the two elements in the list. (Input : List = [23, 65, 19, 90], pos1 = 1, pos2 = 3
Output : [19, 65, 23, 90])

**23- search for the all ways to know the length of the list

In [ ]:
**24-write a Python code to find the Maximum number of list of numbers.

In [11]:
list = [1,2,4,6,8,5,12,10,5]
max = list[0]
i =1
while i < len(list):
    if list[i]>max:
        max = list[i]
    i+=1   
print (max)

12

In [ ]:
**25-write a Python code to find the Minimum number of list of numbers.

In [12]:
list = [1,2,4,6,8,5,12,10,5]
min = list[0]
i =1
while i < len(list):
    if list[i]<min:
        min = list[i]
    i+=1   
print (min)

1

**26-search for if an elem is existing in list

In [20]:
def search(list,x):
    flag = "False "
    i=0
    while i < len(list):
        if list[i]==x:
             flag = "True"
        i+=1        
    print(flag)
mylist = [1,2,4,6,8,5,12,10,5]
search(mylist,50)

False

**27- clear python list using different ways

**28-remove duplicated elements from a list

In [26]:
def removeDup(list):
    output_list = []
    seen = set()
    for i in input_list:
        if i not in seen:
            output_list.append(i)
            seen.add(i)
    return output_list
input_list = [1, 2, 3, 2, 4, 5, 1, 6, 7, 5]
output_list = removeDup(input_list)
print(output_list)

[1, 2, 3, 4, 5, 6, 7]

**29-Given list values and keys list, convert these values to key value pairs in form of list of dictionaries. (Input : test_list = [“Gfg”, 3, “is”, 8], key_list = [“name”, “id”]
Output : [{‘name’: ‘Gfg’, ‘id’: 3}, {‘name’: ‘is’, ‘id’: 8}])

**30-write a python program to count unique values inside a list using different ways

In [33]:
list = [1,2,4,2,1,6,8,10]
count=0
for i in list:
    if i not in list[i+1:]:
        count+=1
print(count)

4

**31-write a python program Extract all elements with Frequency greater than K (Input : test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8], K = 3 
Output : [4, 3] )

In [40]:
def countOcc(list,x):
    count=0
    for i in list:
        if i == x:
            count+=1
    return count
list=[4, 6, 4, 3, 3, 4, 3, 4, 3, 8]
output=[]
for i in list:
    if countOcc(list,i) > 3:
        if i not in output:
            output.append(i)
print(output)

[4, 3]

In [ ]:
**32-write a python program to find the Strongest Neighbour (Input: 1 2 2 3 4 5
Output: 2 2 3 4 5)

**33-write a Python Program to print all Possible Combinations from the three Digits (Input: [1, 2, 3]
Output:
1 2 3 ##
1 3 2 ##
2 1 3 ##
2 3 1 ##
3 1 2 ##
3 2 1)

In [41]:
input = [1,2,3]
i=0
while i < 3:
    j=0
    print(input[i])
    while j <3:
        if i != j :
            print(input[j])
        j+=1
    i+=1    
    print(" ## ")

1
2
3
 ##
2
1
3
 ##
3
1
2
 ##

**34-write a Python program to find all the Combinations in the list with the given condition (Input: test_list = [1,2,3] 
Output: 
 [1], [1, 2], [1, 2, 3], [1, 3]
 [2], [2, 3], [3])

In [43]:
input = [1,2,3]
combinations = []
n = len(input)
for i in range(n):
    for j in range(i, n):
        combinations.append(input[i:j+1])
print(combinations)

[[1], [1, 2], [1, 2, 3], [2], [2, 3], [3]]

**35-write a Python program to get all unique combinations of two Lists (List_1 = ["a","b"]
List_2 = [1,2]
Unique_combination = [[('a',1),('b',2)],[('a',2),('b',1)]] )

In [44]:
list1 = ["a","b"] 
list2 = [1,2]
output=[]
for i in list1:
    for j in list2:
        output.append((i,j))
print(output)

[('a', 1), ('a', 2), ('b', 1), ('b', 2)]

**36-Remove all the occurrences of an element from a list in Python (Input : 1 1 2 3 4 5 1 2 1 

**Output : 2 3 4 5 2)

In [46]:
def removeElem(list,x):
    output=[]
    for i in list:
        if i !=x:
            output.append(i)
    return output        
input= [1, 1, 2, 3, 4, 5, 1, 2, 1]
output=removeElem(input,1)
print(output)

[2, 3, 4, 5, 2]

**37-write a python program to Replace index elements with elements in Other List (The original list 1 is : [‘Gfg’, ‘is’, ‘best’] The original list 2 is : [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0] The lists after index elements replacements is : [‘Gfg’, ‘is’, ‘best’, ‘is’, ‘Gfg’, ‘Gfg’, ‘Gfg’, ‘best’, ‘is’, ‘is’, ‘best’, ‘Gfg’])

In [49]:
list1=["Gfg", "is", "best"]
list2=[0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0] 
i=0
while i < len(list2):
    list2[i]=list1[list2[i]]
    i+=1
print (list2)

['Gfg', 'is', 'best', 'is', 'Gfg', 'Gfg', 'Gfg', 'best', 'is', 'is', 'best', 'Gfg']

**38- write python program to Retain records with N occurrences of K(Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 2 
Output : [(4, 5, 5, 4)]
Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 3 
Output : [] )

In [53]:
list=[(4, 5, 5, 4), (5, 4, 3)]
k=5
n=2
output=[]
for i in list:
    if i.count(k)==n:
        output.append(i)
print(output)

[(4, 5, 5, 4)]

**39-write a Python Program to Sort the list according to the column using lambda
array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Output :
Sorted array specific to column 0, [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Sorted array specific to column 1, [[2, 1, 2], [3, 2, 1], [1, 3, 3]]
Sorted array specific to column 2, [[3, 2, 1], [2, 1, 2], [1, 3, 3]]

In [55]:
list=[[1, 3, 3], [2, 1, 2], [3, 2, 1]] 
col1=list
col2=[]
col3=[]
i=1
j=0
while j < len(list):
    if i >= len(list):
        i=i-len(list)
    col2.append(list[i])
    i+=1
    j+=1
i=2
j=0
while j < len(list):
    if i >= len(list):
        i=i-len(list)
    col3.append(list[i])
    i+=1
    j+=1
print(col1)
print(col2) 
print(col3)

[[1, 3, 3], [2, 1, 2], [3, 2, 1]]
[[2, 1, 2], [3, 2, 1], [1, 3, 3]]
[[3, 2, 1], [1, 3, 3], [2, 1, 2]]

In [ ]:
**40- write a program to Sort Python Dictionaries by Key or Value
Input:
{'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}

Output: 
{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

In [60]:
input={'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}
by_key=True
if by_key:
     sorted_dict = dict(sorted(input.items(), key=lambda item: item[0]))
else:
    sorted_dict = dict(sorted(input.items(), key=lambda item: item[1]))
print(sorted_dict)

{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

**41-write python program to Remove keys with Values Greater than K ( Including mixed values )
nput : test_dict = {‘Gfg’ : 3, ‘is’ : 7, ‘best’ : 10, ‘for’ : 6, ‘geeks’ : ‘CS’},
K = 7 
Output : {‘Gfg’ : 3, ‘for’ : 6, ‘geeks’ : ‘CS’}

In [3]:
test_dict = {'Gfg' : 3, 'is' : 7, 'best' : 10, 'for' : 6, 'geeks' : 'CS'}
K=7
keys_to_remove = [key for key, value in test_dict.items() if isinstance(value, (int, float)) and value > K]
for key in keys_to_remove:
    test_dict.pop(key)
print(test_dict)

{'Gfg': 3, 'is': 7, 'for': 6, 'geeks': 'CS'}

**42-Write a Python program to concatenate the following dictionaries to create a new one

Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [4]:
def concatenate_dicts(*dicts):
    result_dict = {}
    for d in dicts:
        result_dict.update(d)
    return result_dict
dic1 = {1: 10, 2: 20}
dic2 = {3: 30, 4: 40}
dic3 = {5: 50, 6: 60}
result_dict = concatenate_dicts(dic1, dic2, dic3)
print(result_dict)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

**43-Write a Python program to iterate over dictionaries using for loops

In [5]:
student_scores = {'Alice': 85, 'Bob': 92, 'Charlie': 78, 'David': 67}
for name, score in student_scores.items():
    print(name, score)

Alice 85
Bob 92
Charlie 78
David 67

**44- Write a Python script to merge two Python dictionaries

In [ ]:
def merge_dicts(dict1, dict2):
    merged_dict = dict1.copy()
    merged_dict.update(dict2)
    return merged_dict

**45-Write a Python program to get the maximum and minimum values of a dictionary values

**46- Write a Python program to drop empty items from a given dictionary.
Original Dictionary:
{'c1': 'Red', 'c2': 'Green', 'c3': None}
New Dictionary after dropping empty items:
{'c1': 'Red', 'c2': 'Green'}

In [7]:
def drop_empty_items(dictionary):
    return {key: value for key, value in dictionary.items() if value is not None}
original_dict = {'c1': 'Red', 'c2': 'Green', 'c3': None}
new_dict = drop_empty_items(original_dict)
print("New Dictionary after dropping empty items:", new_dict)

New Dictionary after dropping empty items: {'c1': 'Red', 'c2': 'Green'}

**47-Write a Python program to create a tuple of numbers and print one item

In [13]:
tuple=(1,2,3)
print(tuple[1])

2

**48-Write a Python program to unpack a tuple into several variables

In [12]:
tuple=(1,2,3)
var1=tuple[0]
var2=tuple[1]
var3=tuple[2]
print(var1,var2,var3)

1 2 3

**49-Write a Python program to add an item to a tuple

In [19]:
tuple=(1,2,3)
new_tuple=tuple+(4,)
print(new_tuple)

(1, 2, 3, 4)

**50-Write a Python program to convert a tuple to a string

In [16]:
tuple = ('a','m','r')
result=""
for i in tuple:
    result+=i
print(result)

amr

**51-Write a Python program to convert a list to a tuple

In [34]:
list=[1,2,3,4]
tuple = ()
new_tuple=()
for i in list:
    new_tuple=tuple+(i,)
    tuple=new_tuple
print(tuple)

(1, 2, 3, 4)

**52-Write a Python program to reverse a tuple

In [27]:
tuple=(1,2,3,4)
tuple=tuple[::-1] 
print(tuple)

(4, 3, 2, 1)

**53-Write a Python program to replace the last value of tuples in a list.
Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [28]:
list=[(10, 20, 40), (40, 50, 60), (70, 80, 90)]
value=100
result_list = []
for t in list:
    updated_tuple = t[:-1] + (value,)
    result_list.append(updated_tuple)
print(result_list)

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

**54-Write a Python program to convert a given string list to a tuple
Original string: python 3.0
<class 'str'>
Convert the said string to a tuple:
('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')

In [35]:
str="python 3.0"
tuple =()
new_tuple=()
for i in str:
    new_tuple=tuple+(i,)
    tuple=new_tuple
print(tuple)

('p', 'y', 't', 'h', 'o', 'n', ' ', '3', '.', '0')

**55-Write a Python program to calculate the average value of the numbers in a given tuple of tuples

In [37]:
tuple = (1,3,5,8,5,4,9,1,8)
total =0
count=0
for i in tuple:
    total+=i
    count+=1
print(total/count)

4.888888888888889

**56-Write a Python program to add member(s) to a set.

In [38]:
my_set = {1, 2, 3, 4, 5}
new_member = 6
my_set.add(new_member)
print(my_set)
new_members = {7, 8, 9}
my_set.update(new_members)
print(my_set)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6, 7, 8, 9}

**57-Write a Python program to remove an item from a set if it is present in the set.

In [41]:
set = {1, 2, 3, 4, 5}
value=3
if value in set:
    set.remove(value)
print(set)

{1, 2, 4, 5}

**58-Write a Python program to create an intersection,union,difference and symmetric difference of sets

**59-Write a Python program to find the maximum and minimum values in a set

In [42]:
my_set = {15, 30, 10, 45, 5}
max_value = max(my_set)
min_value = min(my_set)
print("Maximum Value:", max_value)
print("Minimum Value:", min_value)

Maximum Value: 45
Minimum Value: 5

**60- Write a Python program that finds all pairs of elements in a list whose sum is equal to a given value.

In [ ]:
list=[1,2,3,4,5,6,7,8,10,11,15]
value=20
result=[]
for i in list:
    for j in list:
        if (i!=j) & (i+j==value):
            result.append((i,j))
print(result)